<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
        <dict>
            <key>Title</key>
            <string>Legality</string>
            <key>Type</key>
            <string>PSGroupSpecifier</string>
        </dict>
        <dict>
            <key>Type</key>
            <string>PSMultiValueSpecifier</string>
            <key>Title</key>
            <string>Default Legality</string>
            <key>Key</key>
            <string>mwlVersion</string>
            <key>DefaultValue</key>
            <integer>1</integer>
        </dict>
        <dict>
            <key>Type</key>
            <string>PSToggleSwitchSpecifier</string>
            <key>Title</key>
            <string>Observe Rotation</string>
            <key>Key</key>
            <string>rotationActive</string>
            <key>DefaultValue</key>
            <true/>
        </dict>
        <dict>
            <key>Type</key>
            <string>PSMultiValueSpecifier</string>
            <key>Title</key>
            <string>Rotation to use</string>
            <key>Key</key>
            <string>rotationIndex</string>
            <key>DefaultValue</key>
            <integer>0</integer>
        </dict>
        <dict>
            <key>Type</key>
            <string>PSToggleSwitchSpecifier</string>
            <key>Title</key>
            <string>Offer Conversion to Revised Core?</string>
            <key>Key</key>
            <string>convertCore</string>
            <key>DefaultValue</key>
            <true/>
        </dict>
        <dict>
            <key>Title</key>
            <string>Saving</string>
            <key>Type</key>
            <string>PSGroupSpecifier</string>
        </dict>
        <dict>
            <key>Type</key>
            <string>PSToggleSwitchSpecifier</string>
            <key>Title</key>
            <string>Auto-save decks</string>
            <key>Key</key>
            <string>autoSave</string>
            <key>DefaultValue</key>
            <false/>
        </dict>
        <dict>
            <key>Type</key>
            <string>PSToggleSwitchSpecifier</string>
            <key>Title</key>
            <string>Auto-save history</string>
            <key>Key</key>
            <string>autoHistory</string>
            <key>DefaultValue</key>
            <true/>
        </dict>
        <dict>
            <key>Type</key>
            <string>PSToggleSwitchSpecifier</string>
            <key>Title</key>
            <string>Create new Decks as &apos;Active&apos;</string>
            <key>Key</key>
            <string>createDeckActive</string>
            <key>DefaultValue</key>
            <false/>
        </dict>

	</array>
	<key>StringsTable</key>
	<string>Deckbuilder</string>
</dict>
</plist>
