<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Title</key>
			<string>Card Data</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>Last Downloaded on</string>
			<key>Key</key>
			<string>lastDownload</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>Next Download on</string>
			<key>Key</key>
			<string>nextDownload</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>IASKButtonSpecifier</string>
			<key>Title</key>
			<string>Update Card Data Now</string>
			<key>Key</key>
			<string>downloadDataNow</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>IASKButtonSpecifier</string>
			<key>Title</key>
			<string>Update Card Images Now</string>
			<key>Key</key>
			<string>downloadImagesNow</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>IASKButtonSpecifier</string>
			<key>Title</key>
			<string>Download missing Card Images Now</string>
			<key>Key</key>
			<string>downloadMissingImagesNow</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>IASKButtonSpecifier</string>
			<key>Title</key>
			<string>Clear All Cached Data</string>
			<key>Key</key>
			<string>clearCache</string>
		</dict>
        <dict>
            <key>Title</key>
            <string>Expert Settings</string>
            <key>Type</key>
            <string>PSGroupSpecifier</string>
        </dict>
        <dict>
            <key>Type</key>
            <string>PSChildPaneSpecifier</string>
            <key>Title</key>
            <string>API Settings</string>
            <key>File</key>
            <string>Expert</string>
        </dict>
	</array>
	<key>StringsTable</key>
	<string>CardData</string>
</dict>
</plist>
