<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Auto-save decks</string>
			<key>Key</key>
			<string>autoSave</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Title</key>
			<string>Card Data</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>Last Downloaded on</string>
			<key>Key</key>
			<string>lastDownload</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>Next Download on</string>
			<key>Key</key>
			<string>nextDownload</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>IASKButtonSpecifier</string>
			<key>Title</key>
			<string>Update Card Data Now</string>
			<key>Key</key>
			<string>downloadDataNow</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>IASKButtonSpecifier</string>
			<key>Title</key>
			<string>Update Card Images Now</string>
			<key>Key</key>
			<string>downloadImagesNow</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>IASKButtonSpecifier</string>
			<key>Title</key>
			<string>Clear All Cached Data</string>
			<key>Key</key>
			<string>clearCache</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Card Sets</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Key</key>
			<string>cardSets</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>Set/Datapack Selection</string>
			<key>File</key>
			<string>SetSelection</string>
			<key>Key</key>
			<string>setSelection</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Data Export</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>FooterText</key>
			<string>Connect to your Dropbox account to enable export and import of decks.</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Use Dropbox</string>
			<key>Key</key>
			<string>useDropbox</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Auto-save decks to Dropbox</string>
			<key>Key</key>
			<string>autoSaveDropbox</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Use Evernote</string>
			<key>Key</key>
			<string>useEvernote</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
</dict>
</plist>
