<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Ignore unknown Sets</string>
			<key>Key</key>
			<string>ignore_unknown_sets</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Title</key>
			<string>Core Set and Deluxe Expansions</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>IASKCustomViewSpecifier</string>
			<key>Title</key>
			<string>Core Set</string>
			<key>Key</key>
			<string>use_core</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Number of Core Sets</string>
			<key>Key</key>
			<string>number_coresets</string>
			<key>DefaultValue</key>
			<string>1</string>
			<key>Values</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
			</array>
			<key>Titles</key>
			<array>
				<string>1</string>
				<string>2</string>
				<string>3</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>IASKCustomViewSpecifier</string>
			<key>Title</key>
            <string>Deluxe #1</string>
			<key>Key</key>
			<string>use_cac</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>IASKCustomViewSpecifier</string>
			<key>Title</key>
            <string>Deluxe #2</string>
			<key>Key</key>
			<string>use_hap</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>IASKCustomViewSpecifier</string>
			<key>Title</key>
            <string>Deluxe #3</string>
			<key>Key</key>
			<string>use_oac</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
        <dict>
            <key>Title</key>
            <string>Special Identities</string>
            <key>Type</key>
            <string>PSGroupSpecifier</string>
        </dict>
        <dict>
            <key>Type</key>
            <string>PSToggleSwitchSpecifier</string>
            <key>Title</key>
            <string>Include Draft Identities</string>
            <key>Key</key>
            <string>use_draft_identities</string>
            <key>DefaultValue</key>
            <true/>
        </dict>
        <dict>
            <key>Type</key>
            <string>PSToggleSwitchSpecifier</string>
            <key>Title</key>
            <string>Include Unpublished Identities</string>
            <key>Key</key>
            <string>use_unpublished_identities</string>
            <key>DefaultValue</key>
            <false/>
        </dict>
		<dict>
			<key>Title</key>
			<string>Cycle #1</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>IASKCustomViewSpecifier</string>
			<key>Title</key>
			<string>Data Pack #1</string>
			<key>Key</key>
			<string>use_wla</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>IASKCustomViewSpecifier</string>
			<key>Title</key>
			<string>Data Pack #2</string>
			<key>Key</key>
			<string>use_ta</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>IASKCustomViewSpecifier</string>
			<key>Title</key>
			<string>Data Pack #3</string>
			<key>Key</key>
			<string>use_ce</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>IASKCustomViewSpecifier</string>
			<key>Title</key>
			<string>Data Pack #4</string>
			<key>Key</key>
			<string>use_asis</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>IASKCustomViewSpecifier</string>
			<key>Title</key>
			<string>Data Pack #5</string>
			<key>Key</key>
			<string>use_hs</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>IASKCustomViewSpecifier</string>
			<key>Title</key>
			<string>Data Pack #6</string>
			<key>Key</key>
			<string>use_fp</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Title</key>
			<string>Cycle #2</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>IASKCustomViewSpecifier</string>
			<key>Title</key>
			<string>Data Pack #1</string>
			<key>Key</key>
			<string>use_om</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>IASKCustomViewSpecifier</string>
			<key>Title</key>
			<string>Data Pack #2</string>
			<key>Key</key>
			<string>use_st</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>IASKCustomViewSpecifier</string>
			<key>Title</key>
			<string>Data Pack #3</string>
			<key>Key</key>
			<string>use_mt</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>IASKCustomViewSpecifier</string>
			<key>Title</key>
			<string>Data Pack #4</string>
			<key>Key</key>
			<string>use_tc</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>IASKCustomViewSpecifier</string>
			<key>Title</key>
			<string>Data Pack #5</string>
			<key>Key</key>
			<string>use_fal</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>IASKCustomViewSpecifier</string>
			<key>Title</key>
			<string>Data Pack #6</string>
			<key>Key</key>
			<string>use_dt</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Title</key>
			<string>Cycle #3</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>IASKCustomViewSpecifier</string>
			<key>Title</key>
			<string>Data Pack #1</string>
			<key>Key</key>
			<string>use_up</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>IASKCustomViewSpecifier</string>
			<key>Title</key>
			<string>Data Pack #2</string>
			<key>Key</key>
			<string>use_tsb</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>IASKCustomViewSpecifier</string>
			<key>Title</key>
            <string>Data Pack #3</string>
			<key>Key</key>
			<string>use_fc</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>IASKCustomViewSpecifier</string>
			<key>Title</key>
            <string>Data Pack #4</string>
			<key>Key</key>
			<string>use_uao</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>IASKCustomViewSpecifier</string>
			<key>Title</key>
            <string>Data Pack #5</string>
			<key>Key</key>
			<string>use_atr</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>IASKCustomViewSpecifier</string>
			<key>Title</key>
            <string>Data Pack #6</string>
			<key>Key</key>
			<string>use_ts</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
        <dict>
            <key>Title</key>
            <string>Cycle #4</string>
            <key>Type</key>
            <string>PSGroupSpecifier</string>
        </dict>
        <dict>
            <key>Type</key>
            <string>IASKCustomViewSpecifier</string>
            <key>Title</key>
            <string>Data Pack #1</string>
            <key>Key</key>
            <string>use_tv</string>
            <key>DefaultValue</key>
            <true/>
        </dict>
	</array>
	<key>StringsTable</key>
	<string>SetSelection</string>
</dict>
</plist>
