<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>available</key>
		<string></string>
		<key>code</key>
		<string>dad</string>
		<key>cyclenumber</key>
		<integer>9</integer>
		<key>known</key>
		<integer>55</integer>
		<key>name</key>
		<string>Data and Destiny</string>
		<key>number</key>
		<integer>1</integer>
		<key>total</key>
		<integer>55</integer>
		<key>url</key>
		<string>http://netrunnerdb.com/en/set/dad</string>
	</dict>
	<dict>
		<key>available</key>
		<string></string>
		<key>code</key>
		<string>draft</string>
		<key>cyclenumber</key>
		<integer>0</integer>
		<key>known</key>
		<integer>6</integer>
		<key>name</key>
		<string>Draft</string>
		<key>number</key>
		<integer>2</integer>
		<key>total</key>
		<integer>4</integer>
		<key>url</key>
		<string>http://netrunnerdb.com/en/set/draft</string>
	</dict>
	<dict>
		<key>available</key>
		<string></string>
		<key>code</key>
		<string>uot</string>
		<key>cyclenumber</key>
		<integer>8</integer>
		<key>known</key>
		<integer>20</integer>
		<key>name</key>
		<string>The Universe of Tomorrow</string>
		<key>number</key>
		<integer>6</integer>
		<key>total</key>
		<integer>20</integer>
		<key>url</key>
		<string>http://netrunnerdb.com/en/set/uot</string>
	</dict>
	<dict>
		<key>available</key>
		<string>2012-09-06</string>
		<key>code</key>
		<string>core</string>
		<key>cyclenumber</key>
		<integer>1</integer>
		<key>known</key>
		<integer>113</integer>
		<key>name</key>
		<string>Core Set</string>
		<key>number</key>
		<integer>1</integer>
		<key>total</key>
		<integer>113</integer>
		<key>url</key>
		<string>http://netrunnerdb.com/en/set/core</string>
	</dict>
	<dict>
		<key>available</key>
		<string>2012-12-14</string>
		<key>code</key>
		<string>wla</string>
		<key>cyclenumber</key>
		<integer>2</integer>
		<key>known</key>
		<integer>20</integer>
		<key>name</key>
		<string>What Lies Ahead</string>
		<key>number</key>
		<integer>1</integer>
		<key>total</key>
		<integer>20</integer>
		<key>url</key>
		<string>http://netrunnerdb.com/en/set/wla</string>
	</dict>
	<dict>
		<key>available</key>
		<string>2013-01-09</string>
		<key>code</key>
		<string>ta</string>
		<key>cyclenumber</key>
		<integer>2</integer>
		<key>known</key>
		<integer>20</integer>
		<key>name</key>
		<string>Trace Amount</string>
		<key>number</key>
		<integer>2</integer>
		<key>total</key>
		<integer>20</integer>
		<key>url</key>
		<string>http://netrunnerdb.com/en/set/ta</string>
	</dict>
	<dict>
		<key>available</key>
		<string>2013-02-14</string>
		<key>code</key>
		<string>ce</string>
		<key>cyclenumber</key>
		<integer>2</integer>
		<key>known</key>
		<integer>20</integer>
		<key>name</key>
		<string>Cyber Exodus</string>
		<key>number</key>
		<integer>3</integer>
		<key>total</key>
		<integer>20</integer>
		<key>url</key>
		<string>http://netrunnerdb.com/en/set/ce</string>
	</dict>
	<dict>
		<key>available</key>
		<string>2013-03-21</string>
		<key>code</key>
		<string>asis</string>
		<key>cyclenumber</key>
		<integer>2</integer>
		<key>known</key>
		<integer>20</integer>
		<key>name</key>
		<string>A Study in Static</string>
		<key>number</key>
		<integer>4</integer>
		<key>total</key>
		<integer>20</integer>
		<key>url</key>
		<string>http://netrunnerdb.com/en/set/asis</string>
	</dict>
	<dict>
		<key>available</key>
		<string>2013-05-02</string>
		<key>code</key>
		<string>hs</string>
		<key>cyclenumber</key>
		<integer>2</integer>
		<key>known</key>
		<integer>20</integer>
		<key>name</key>
		<string>Humanity's Shadow</string>
		<key>number</key>
		<integer>5</integer>
		<key>total</key>
		<integer>20</integer>
		<key>url</key>
		<string>http://netrunnerdb.com/en/set/hs</string>
	</dict>
	<dict>
		<key>available</key>
		<string>2013-05-30</string>
		<key>code</key>
		<string>fp</string>
		<key>cyclenumber</key>
		<integer>2</integer>
		<key>known</key>
		<integer>20</integer>
		<key>name</key>
		<string>Future Proof</string>
		<key>number</key>
		<integer>6</integer>
		<key>total</key>
		<integer>20</integer>
		<key>url</key>
		<string>http://netrunnerdb.com/en/set/fp</string>
	</dict>
	<dict>
		<key>available</key>
		<string>2013-07-29</string>
		<key>code</key>
		<string>cac</string>
		<key>cyclenumber</key>
		<integer>3</integer>
		<key>known</key>
		<integer>55</integer>
		<key>name</key>
		<string>Creation and Control</string>
		<key>number</key>
		<integer>1</integer>
		<key>total</key>
		<integer>55</integer>
		<key>url</key>
		<string>http://netrunnerdb.com/en/set/cac</string>
	</dict>
	<dict>
		<key>available</key>
		<string>2013-09-27</string>
		<key>code</key>
		<string>om</string>
		<key>cyclenumber</key>
		<integer>4</integer>
		<key>known</key>
		<integer>20</integer>
		<key>name</key>
		<string>Opening Moves</string>
		<key>number</key>
		<integer>1</integer>
		<key>total</key>
		<integer>20</integer>
		<key>url</key>
		<string>http://netrunnerdb.com/en/set/om</string>
	</dict>
	<dict>
		<key>available</key>
		<string>2013-11-07</string>
		<key>code</key>
		<string>st</string>
		<key>cyclenumber</key>
		<integer>4</integer>
		<key>known</key>
		<integer>20</integer>
		<key>name</key>
		<string>Second Thoughts</string>
		<key>number</key>
		<integer>2</integer>
		<key>total</key>
		<integer>20</integer>
		<key>url</key>
		<string>http://netrunnerdb.com/en/set/st</string>
	</dict>
	<dict>
		<key>available</key>
		<string>2013-12-13</string>
		<key>code</key>
		<string>mt</string>
		<key>cyclenumber</key>
		<integer>4</integer>
		<key>known</key>
		<integer>20</integer>
		<key>name</key>
		<string>Mala Tempora</string>
		<key>number</key>
		<integer>3</integer>
		<key>total</key>
		<integer>20</integer>
		<key>url</key>
		<string>http://netrunnerdb.com/en/set/mt</string>
	</dict>
	<dict>
		<key>available</key>
		<string>2014-01-17</string>
		<key>code</key>
		<string>tc</string>
		<key>cyclenumber</key>
		<integer>4</integer>
		<key>known</key>
		<integer>20</integer>
		<key>name</key>
		<string>True Colors</string>
		<key>number</key>
		<integer>4</integer>
		<key>total</key>
		<integer>20</integer>
		<key>url</key>
		<string>http://netrunnerdb.com/en/set/tc</string>
	</dict>
	<dict>
		<key>available</key>
		<string>2014-02-21</string>
		<key>code</key>
		<string>fal</string>
		<key>cyclenumber</key>
		<integer>4</integer>
		<key>known</key>
		<integer>20</integer>
		<key>name</key>
		<string>Fear and Loathing</string>
		<key>number</key>
		<integer>5</integer>
		<key>total</key>
		<integer>20</integer>
		<key>url</key>
		<string>http://netrunnerdb.com/en/set/fal</string>
	</dict>
	<dict>
		<key>available</key>
		<string>2014-03-28</string>
		<key>code</key>
		<string>dt</string>
		<key>cyclenumber</key>
		<integer>4</integer>
		<key>known</key>
		<integer>20</integer>
		<key>name</key>
		<string>Double Time</string>
		<key>number</key>
		<integer>6</integer>
		<key>total</key>
		<integer>20</integer>
		<key>url</key>
		<string>http://netrunnerdb.com/en/set/dt</string>
	</dict>
	<dict>
		<key>available</key>
		<string>2014-05-02</string>
		<key>code</key>
		<string>hap</string>
		<key>cyclenumber</key>
		<integer>5</integer>
		<key>known</key>
		<integer>55</integer>
		<key>name</key>
		<string>Honor and Profit</string>
		<key>number</key>
		<integer>1</integer>
		<key>total</key>
		<integer>55</integer>
		<key>url</key>
		<string>http://netrunnerdb.com/en/set/hap</string>
	</dict>
	<dict>
		<key>available</key>
		<string>2014-07-25</string>
		<key>code</key>
		<string>up</string>
		<key>cyclenumber</key>
		<integer>6</integer>
		<key>known</key>
		<integer>20</integer>
		<key>name</key>
		<string>Upstalk</string>
		<key>number</key>
		<integer>1</integer>
		<key>total</key>
		<integer>20</integer>
		<key>url</key>
		<string>http://netrunnerdb.com/en/set/up</string>
	</dict>
	<dict>
		<key>available</key>
		<string>2014-08-15</string>
		<key>code</key>
		<string>tsb</string>
		<key>cyclenumber</key>
		<integer>6</integer>
		<key>known</key>
		<integer>20</integer>
		<key>name</key>
		<string>The Spaces Between</string>
		<key>number</key>
		<integer>2</integer>
		<key>total</key>
		<integer>20</integer>
		<key>url</key>
		<string>http://netrunnerdb.com/en/set/tsb</string>
	</dict>
	<dict>
		<key>available</key>
		<string>2014-09-15</string>
		<key>code</key>
		<string>fc</string>
		<key>cyclenumber</key>
		<integer>6</integer>
		<key>known</key>
		<integer>20</integer>
		<key>name</key>
		<string>First Contact</string>
		<key>number</key>
		<integer>3</integer>
		<key>total</key>
		<integer>20</integer>
		<key>url</key>
		<string>http://netrunnerdb.com/en/set/fc</string>
	</dict>
	<dict>
		<key>available</key>
		<string>2014-10-16</string>
		<key>code</key>
		<string>uao</string>
		<key>cyclenumber</key>
		<integer>6</integer>
		<key>known</key>
		<integer>20</integer>
		<key>name</key>
		<string>Up and Over</string>
		<key>number</key>
		<integer>4</integer>
		<key>total</key>
		<integer>20</integer>
		<key>url</key>
		<string>http://netrunnerdb.com/en/set/uao</string>
	</dict>
	<dict>
		<key>available</key>
		<string>2014-11-13</string>
		<key>code</key>
		<string>atr</string>
		<key>cyclenumber</key>
		<integer>6</integer>
		<key>known</key>
		<integer>20</integer>
		<key>name</key>
		<string>All That Remains</string>
		<key>number</key>
		<integer>5</integer>
		<key>total</key>
		<integer>20</integer>
		<key>url</key>
		<string>http://netrunnerdb.com/en/set/atr</string>
	</dict>
	<dict>
		<key>available</key>
		<string>2014-12-18</string>
		<key>code</key>
		<string>ts</string>
		<key>cyclenumber</key>
		<integer>6</integer>
		<key>known</key>
		<integer>20</integer>
		<key>name</key>
		<string>The Source</string>
		<key>number</key>
		<integer>6</integer>
		<key>total</key>
		<integer>20</integer>
		<key>url</key>
		<string>http://netrunnerdb.com/en/set/ts</string>
	</dict>
	<dict>
		<key>available</key>
		<string>2015-01-28</string>
		<key>code</key>
		<string>oac</string>
		<key>cyclenumber</key>
		<integer>7</integer>
		<key>known</key>
		<integer>55</integer>
		<key>name</key>
		<string>Order and Chaos</string>
		<key>number</key>
		<integer>1</integer>
		<key>total</key>
		<integer>55</integer>
		<key>url</key>
		<string>http://netrunnerdb.com/en/set/oac</string>
	</dict>
	<dict>
		<key>available</key>
		<string>2015-04-03</string>
		<key>code</key>
		<string>val</string>
		<key>cyclenumber</key>
		<integer>8</integer>
		<key>known</key>
		<integer>20</integer>
		<key>name</key>
		<string>The Valley</string>
		<key>number</key>
		<integer>1</integer>
		<key>total</key>
		<integer>20</integer>
		<key>url</key>
		<string>http://netrunnerdb.com/en/set/val</string>
	</dict>
	<dict>
		<key>available</key>
		<string>2015-04-24</string>
		<key>code</key>
		<string>bb</string>
		<key>cyclenumber</key>
		<integer>8</integer>
		<key>known</key>
		<integer>20</integer>
		<key>name</key>
		<string>Breaker Bay</string>
		<key>number</key>
		<integer>2</integer>
		<key>total</key>
		<integer>20</integer>
		<key>url</key>
		<string>http://netrunnerdb.com/en/set/bb</string>
	</dict>
	<dict>
		<key>available</key>
		<string>2015-05-29</string>
		<key>code</key>
		<string>cc</string>
		<key>cyclenumber</key>
		<integer>8</integer>
		<key>known</key>
		<integer>20</integer>
		<key>name</key>
		<string>Chrome City</string>
		<key>number</key>
		<integer>3</integer>
		<key>total</key>
		<integer>20</integer>
		<key>url</key>
		<string>http://netrunnerdb.com/en/set/cc</string>
	</dict>
	<dict>
		<key>available</key>
		<string>2015-07-02</string>
		<key>code</key>
		<string>uw</string>
		<key>cyclenumber</key>
		<integer>8</integer>
		<key>known</key>
		<integer>20</integer>
		<key>name</key>
		<string>The Underway</string>
		<key>number</key>
		<integer>4</integer>
		<key>total</key>
		<integer>20</integer>
		<key>url</key>
		<string>http://netrunnerdb.com/en/set/uw</string>
	</dict>
	<dict>
		<key>available</key>
		<string>2015-08-06</string>
		<key>code</key>
		<string>oh</string>
		<key>cyclenumber</key>
		<integer>8</integer>
		<key>known</key>
		<integer>20</integer>
		<key>name</key>
		<string>Old Hollywood</string>
		<key>number</key>
		<integer>5</integer>
		<key>total</key>
		<integer>20</integer>
		<key>url</key>
		<string>http://netrunnerdb.com/en/set/oh</string>
	</dict>
</array>
</plist>
